body {
    margin: 0;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: o;
    background-color: #333652;}

.flex a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #FAD02C;
    border-radius: 2px;
}

.flex a:hover {
    color: #333652;
    background-color: #E9EAEC;
}

@media all and (max-width: 800px){
    .flex {
        justify-content: space-evenly;
    }

    
}

@media all and (max-width: 600px){
    .flex {
        flex-flow: column wrap;
        padding: 0;
    }

    .flex a {
        text-align: center;
        border-radius: 0px;
        padding: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .flex li:last-of-type a {
        border-bottom: none;
      }
}